.playback-widget {
    border: 5px solid rgb(var(--c-a-r), var(--c-a-g), var(--c-a-b));
    pointer-events: all;
    padding: 0;
    filter: drop-shadow(4px 4px 0px var(--c-b));
}
.playback-widget > .top-bar {
    display: grid;
    grid-template-columns: 1fr min-content;
    text-align: left;
    padding-bottom: 7.5px;
}
.playback-widget > .top-bar > .close-button {
    cursor: pointer;
}
.playback-widget > video {
    margin: 0;
    padding: 0;
    width: 100%;
    height: min-content;
}