.top-news-carousel {
    --red: 100;
    --green: 100;
    --blue: 100;
    margin-bottom: 25px;
}

.top-news-img-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.top-news-darken {
    background: linear-gradient(to top, var(--c-txt-neg), rgba(0, 0, 0, 0) 80%);
    grid-area: 1/1/2/2;
}

@media (prefers-color-scheme: light) {
    .carousel-indicators,.carousel-control-prev,.carousel-control-next {
        filter: invert();
    }
    
}

.top-news-img {
    height: 400px;
    width: 100%;
    height: auto;
    grid-area: 1/1/2/2;
}

.top-news-description {
    color: var(--c-txt-pos);
}

.top-news-description > h2 {
    font-family: 'Rubik', sans-serif;
}