.lorem-wall-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row dense;
    gap: 15px;
}

.lorem-card {
    grid-row: span var(--height);
    grid-column: span var(--width);
    --red: 100;
    --blue: 100;
    --green: 100;
    text-align: left;
    transition: background-color 300ms, color 300ms, filter 300ms, transition 300ms;
    filter: drop-shadow(0px 0px 0px var(--c-b));
}

.lorem-card:hover {
    --red: var(--c-a-r);
    --green: var(--c-a-g);
    --blue: var(--c-a-b);
    filter: drop-shadow(calc(var(--hover-x, 0) * -8px) calc(var(--hover-y, 0) * -8px) 0px var(--c-b));
    transition: filter 10ms, transition 300ms;
}

.lorem-card > img {
    width: 100%;
    height: auto;
}
.lorem-card > .title {
    padding: 2ch;
    font-weight: bold;
}
.lorem-wall-container > .read-more {
    --red: 100;
    --blue: 100;
    --green: 100;
    grid-column: 1/4;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
}
.lorem-wall-container > .read-more:hover {
    --red: var(--c-a-r);
    --green: var(--c-a-g);
    --blue: var(--c-a-b);
}