#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  display: grid;
  grid-template-columns: 1fr minmax(max-content, 4fr) 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "header header header"
    "left content right"
    "left footer right"
    ;
  gap: 10px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
