.article {
    text-align: left;
}

.article > p {
    padding: 2ch 4ch 0ch;
    color: var(--c-txt-pos);
    font-size: large;
}

.article-heading {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr max-content;
    max-height: 80vh;
    overflow: hidden;
}

.article-heading > img {
    grid-area: 1/1/3/2;
    width: 100%;
    height: auto;
}

.article-title {
    font-family: 'Rubik', sans-serif;
}

.article-heading > .heading-bottom {
    grid-area: 2/1/3/2;
    padding: 8ch 4ch 2ch;
    color: var(--c-txt-pos);
    background: linear-gradient(to top, var(--c-txt-neg) 20%, rgba(255, 255, 255, 0));
}
.article-stub {
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
}
