* {
  box-sizing: border-box;
}

.ac {
  --accessible-color: calc(
    (
      (
        (
          (var(--red, 255) * 299) +
          (var(--green, 255) * 587) +
          (var(--blue, 255) * 114)
        ) / 1000
      ) - 128
    ) * -1000
  );

  color: rgb(var(--accessible-color), var(--accessible-color), var(--accessible-color)) !important;
  background-color: rgb(var(--red), var(--green), var(--blue));
}

.csec {
  --red: var(--csec-r);
  --green: var(--csec-g);
  --blue: var(--csec-b);
}

.cpri {
  --red: var(--cpri-r);
  --green: var(--cpri-g);
  --blue: var(--cpri-b);
}

:root {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --cpri-r: 100;
  --cpri-g: 100;
  --cpri-b: 100;

  --color-secondary: rgb(255, 169, 106);
  --csec-r: 255;
  --csec-g: 169;
  --csec-b: 106;

  --c-txt-pos: black;
  --c-txt-neg: white;

  --c-a: #52d1dc;
  --c-a-r: 82;
  --c-a-g: 209;
  --c-a-b: 220;
  --c-b: #475B5A;
  --c-c: #8D8E8E;
  --c-d: #A3A9AA;
  --c-e: #BBBBBF;

  --color-text-secondary: black;
}

.c-a {
  background-color: var(--c-a);
  --red: var(--c-a-r);
  --green: var(--c-a-g);
  --blue: var(--c-a-b);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-txt-pos: white;
    --c-txt-neg: black;
    color: #213547;
    background-color: #ffffff;
  }
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.hoversec {
  transition: background-color 300ms, color 300ms;
}
.hoversec:hover {
  --red: var(--csec-r);
  --green: var(--csec-g);
  --blue: var(--csec-b);
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--c-txt-neg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

