.App {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 4fr) 1fr;
    grid-template-rows: 10vh auto auto;
    grid-template-areas: 
      "header header header"
      "left content right"
      "left footer right"
      ;
    gap: 10px;
}